.icon-container {
	border-radius: 50%;
	padding: 8px;
	width: 40px;
	height: 40px;
	transition: background-color 0.3s ease-in-out;
}

.icon-container:hover {
	background-color: #A16B3F; /* Copper shade for light mode */
}

body.chakra-ui-dark .icon-container:hover {
	background-color: #6200B3; /* Purple shade for dark mode */
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: #E1C4A9; /* Copper shade for light mode */
}

body.chakra-ui-dark ::-webkit-scrollbar-track {
	background-color: #4A0E4E; /* Purple shade for dark mode */
}

::-webkit-scrollbar-thumb {
	background-color: #A16B3F; /* Copper shade for light mode */
}

body.chakra-ui-dark ::-webkit-scrollbar-thumb {
	background-color: #6200B3; /* Purple shade for dark mode */
}
